:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  .mat-toolbar {
    .mat-toolbar-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 100%;
    width: 100%;
    max-width: 640px;
    box-sizing: border-box;
    padding: 32px;
    .mat-form-field {
      width: 100%;
    }
    .mat-card {
      margin-bottom: 32px;
      padding: 32px 32px 16px;
      .remove {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 24px;
        .mat-mini-fab {
          margin-top: -4px;
          margin-right: -4px;
        }
      }
    }
  }
  footer {
    overflow: hidden;
    width: 100%;
    .mat-raised-button {
      display: block;
      width: 100%;
      border-radius: 0px;
      padding: 16px;
      font-size: 16px;
    }
  }
}
