<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>AlmeríaJS - Generador de banners</span>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Fecha</mat-label>
    <input matInput placeholder="" [(ngModel)]="data.date" />
  </mat-form-field>

  <mat-card *ngFor="let talk of data.talks">
    <button mat-mini-fab color="warn" (click)="remove(talk)">
      <mat-icon>clear</mat-icon>
    </button>

    <mat-form-field appearance="outline">
      <mat-label>Título de la charla</mat-label>
      <input matInput placeholder="" [(ngModel)]="talk.title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre del ponente</mat-label>
      <input matInput placeholder="" [(ngModel)]="talk.speaker" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Avatar</mat-label>
      <input matInput placeholder="" [(ngModel)]="talk.avatar" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuario de Twitter</mat-label>
      <input matInput placeholder="" [(ngModel)]="talk.twitter" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción breve</mat-label>
      <input matInput placeholder="" [(ngModel)]="talk.rank" />
    </mat-form-field>
  </mat-card>

  <button
    mat-flat-button
    color="primary"
    [disabled]="data.talks.length > 1"
    (click)="add()"
  >
    Añadir charla <mat-icon>add_circle</mat-icon>
  </button>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button color="accent" (click)="send()">
      ¡Quiero mi banner! <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<img *ngIf="bannerSrc" [src]="bannerSrc" alt="Banner" />
